{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer ">
	<div class="container">
		<section class="footer-bottom ">
            <div class="row">
			<div class="col-md-8">
				<p class="text-muted"><span style="letter-spacing: 0.1em;
                    font-weight: 600;">   CETx<span style="color: rgb(0, 86, 210);  letter-spacing: 0.1em; font-weight: 600;">LEARNING</span></span> </p>
			</div>
			<div class="col-md-4 text-md-center">
				<span  class="px-2">cetexlearning@cet.ac.in</span>
			</div>
            <br>
        </div>
        <div  class="row">
                <div style="
                    font-size: 12px;
                    padding: 10px;
                    border-top: 1px solid black;
                    text-align: center;
                  " class="col-md-12">
                  <p class="text-align: center;     margin-bottom: 0px;" style="color: black;font-size: 13px;"> ©2021 CETx Learning<br>
                    Website Designed and developed by <a href="https://github.com/Thusharprasanth">Thushar Prasanth</a></p>
                </div>
              </div>
        </div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->